a {
  text-decoration: none;
  font-weight: 500;
  color: #5C636A;
  transition: .3s ease;

  &:hover {
    color: #0D6EFD;
  }
}

.container {
  padding: 20px 0;
}

.navbar {
  padding: 10px 60px !important;
}

.box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .box {
    grid-template-columns: repeat(2, 1fr);
  }
}